In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame()

In [8]:
df = df.append({"Name":"Михаил Зайцев", "Birth":"22.04.1976"}, ignore_index=True)
df = df.append({"Name":"Максим Королёв", "Birth": "08.12.1993"}, ignore_index=True)
df

        Birth            Name
0  22.04.1976   Михаил Зайцев
1  08.12.1993  Максим Королёв

In [9]:
df["IsStudent"] = (False, True)

In [10]:
df

        Birth            Name  IsStudent
0  22.04.1976   Михаил Зайцев      False
1  08.12.1993  Максим Королёв       True

In [16]:
df["IsStudent"] = False, False
df

        Birth            Name  IsStudent
0  22.04.1976   Михаил Зайцев      False
1  08.12.1993  Максим Королёв      False

In [14]:
df["IsStudent"] = [True]*2
df

        Birth            Name  IsStudent
0  22.04.1976   Михаил Зайцев       True
1  08.12.1993  Максим Королёв       True

In [18]:
df.size

6

In [21]:
df.shape

(2, 3)